.input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid var(--foreground);
  background-color: var(--input);
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  outline: none;
}

.error {
  border-color: var(--destructive);
}

.default {
  &:focus {
    border-color: var(--primary);
  }
}

.secondary {
  &:focus {
    border-color: var(--secondary);
  }
}
